extends ../../layout.jade
block afterhead
    link(
        rel = 'stylesheet'
        href = '#{globalPageData.cdn}css/test/d3learn4.css'
    )
block title 
    title D3 learn4
block afterbody
    script#J_requireScript(data-main='#{globalPageData.cdn}js/config' data-entrance='d3learn4' src='#{globalPageData.cdn}libs/requirejs/require.js')