extends ../../layout.jade
block title 
    title Canvas
block content
    div
        canvas#trails(style={border:'1px solid',height:'300px'})
block afterbody
    script#J_requireScript(data-main='#{globalPageData.cdn}js/config' data-entrance='testCanvas' src='#{globalPageData.cdn}libs/requirejs/require.js')