head
    meta(charset='UTF-8')
    meta(
        name='keywords'
        content='angular,nodejs,koa,socket,bootstrap,前端工程师,前端攻城师,前端学习'
    )
    meta(
        name='description'
        content='前端工程师修炼ing...'
    )
    block title
        title  前端学习
    link(
        rel = 'shortcut icon'
        href = '/favicon.png'
        type = 'image/x-icon'
    )
    link(
        rel = 'stylesheet'
        href = '/libs/font-awesome/css/font-awesome.min.css'
    )
    block afterhead