<!DOCTYPE html>
<html ng-app="phonecatApp" ng-controller="PhoneListCtrl">

    <head>
        <meta charset="UTF-8">
        <title>Google Phone Gallery</title>
    </head>

    <body>
        <p>Hello,{{name}}!</p>
        <input ng-model="name" />
        <!-- <table>
            <tr>
                <th>row number</th>
            </tr>
            <tr ng-repeat="i in [0, 1, 4, 3, 4, 5, 6, 7] track by $index">
                <td>{{i+1}}</td>
                <td>{{$Math.random()}}</td>
            </tr>
        </table>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    Search:
                    <input ng-model="query">

                </div>
                <div class="col-md-10">
                    <ul class="phones">
                        <li ng-repeat="phone in phones | filter:query">
                            {{phone.name}}
                            <p>{{phone.snippet}}</p>
                        </li>
                    </ul>

                </div>
            </div>

        </div> -->
    </body>
    <script src="./js/angular.js"></script>
    <script>
        var phonecatApp = angular.module('phonecatApp', []);

        phonecatApp.controller('PhoneListCtrl', function($scope) {
            $scope.$watch('name',function(newval,oldval){
                $scope.name=1
            })
        });

    </script>

</html>
